/* Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$primary-colour: #324F75;
$blue-dark: #2B2D42;
$blue-medium: #324F75;
$blue-light: #007991;
$off-white: #FCFBF8;
$cta: #FFC843;
$white: #ffffff;
$footer-text: #EFF0FF;
$orange: #F79D65;

$dark: #474747;

.full-white {
  background-color: $white;
}

/* New Colours
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$beige: #FCFBF8;
$beige-dark: #F6F5EF;
$green: #4F6E5D;
$orange: #F79C65;
$black: #474747;
